[submodule "subprojects/terminal"]
	path = subprojects/terminal
	url = https://github.com/tritao/terminal.git
	branch = next
[submodule "data/plugins/workbench"]
	path = data/plugins/workbench
	url = https://github.com/tritao/pragtical-workbench.git
	branch = main
[submodule "data/plugins/scm"]
	path = data/plugins/scm
	url = https://github.com/pragtical/scm.git
	branch = master
